* {
    margin: 0;
    background: #121212;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    position: relative;
    min-height: 100vh;
    background: #121212;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.header {
    background: #0e0e0e;
    height: 208px;
    background-image: url(../public/image/image\ 36.png);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 462px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title,
.watchlist {
    background: none;
}

.header-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 42.7947px;
    line-height: 24px;
    /* or 56% */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: -0.045em;

    color: #ffffff;
}

.watchlist {
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    cursor: pointer;
    text-align: right;

    color: #ffffff;
}

.search-container {
    position: absolute;
    top: 189px;

    width: 462px;
    height: 38px;

    display: grid;
    grid-template-columns: 40px 1fr 120px;

    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e2f;

    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px 0px 0px 6px;
    font-size: 20px;
}

.search-icon {
    background: transparent;
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: gray;
}

.search-container > input {
    border: none;
    background: #2e2e2f;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    /* text-sm/leading-5/font-medium */

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    color: #a5a5a5;
    padding-left: 0.5em;
    caret-color: #a5a5a5;
}

input:focus {
    outline: none;
}

.search-btn {
    border: none;
    width: 120px;
    background: #4b4b4b;
    border-radius: 0px 6px 6px 0px;
    /* text-sm/leading-5/font-medium */

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 38px;
    /* identical to box height, or 143% */

    color: #ffffff;
}

.search-btn:hover {
    cursor: pointer;
}

/* Body part */

.body-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-movie-container {
    text-align: center;
}

.empty-movie-container p {
    padding-top: 0.3em;

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: center;

    color: #2e2e2f;
}

.card-container {
    padding: 40px 44px 0px 44px;
    max-width: 600px;
}

.card {
    padding: 21px 0;

    display: grid;
    column-gap: 21px;
    grid-template-areas:
        "movieCover firstLine"
        "movieCover secondLine"
        "movieCover thirdLine";

    border-bottom: 1.5px solid #2c2c2c;
}

.cover {
    grid-area: movieCover;
    height: 150px;
    width: 100px;
    border-radius: 2.32941px;
}

.first-line {
    padding-top: 1em;
    display: flex;
    grid-area: firstLine;
    gap: 4px;
    align-items: baseline;
}

.movie-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    text-align: justify;

    color: #ffffff;
}

.star-icon {
    width: 15px;
    height: 15px;
}

.rating-score {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    color: #ffffff;
}

.second-line {
    display: flex;
    grid-area: secondLine;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    align-items: center;
    color: #ffffff;
    gap: 20px;
}

.add-btn {
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    border: none;
    color: #ffffff;
}

.third-line {
    grid-area: thirdLine;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    color: #a5a5a5;
}

.loading {
    margin-top: 15%;
}
